.login{
  .inputGroup{
    display: block;
  }
}

.socialLink{
  &--facebook{
    height: $socialLinkHeight;
    &__img{
      height: ($socialLinkHeight - 40px);
      @include media-breakpoint-up(md){
        height: ($socialLinkHeight - 35px);
      }
    }
  }

  &--google{
    height: $socialLinkHeight;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
    &__img{
      height: ($socialLinkHeight - 32px);
      @include media-breakpoint-up(md){
        height: ($socialLinkHeight - 25px);
      }
    }
  }

  &--yahoo{
    height: $socialLinkHeight;
    &__img{
      height: ($socialLinkHeight - 39px);
      @include media-breakpoint-up(md){
        height: ($socialLinkHeight - 34px);
      }
    }
  }
}