.photoFrame{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
  
  &--y{
    &--md{
      &--n2{
        @include media-breakpoint-up(md){
          top: (- $spacer * .5);
          bottom: (- $spacer * .5);
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  %borderCut{
    right: ($grid-gutter-width/2);
    left: ($grid-gutter-width/2);
  }
  @for $i from 1 through $grid-columns{
    .col-md-#{$i}{
      >.photoFrame{      
        @extend %borderCut;
      }
    }
  }
}  